<% provide :title, "422 Error (Unprocessable Entity)" %>

<div class="dialog">
  <h1>Unprocessable Entity</h1>
  <p>Your request could not be processed as the authenticity token was invalid.</p>
</div>
