<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email_address %><br />
    <%= text_field_tag :email_address %>
    <%= submit_tag 'Request Password Reset' %>
  </div>
<% end %>