<% provide :title, "Help" %>

<div id="accordion" class="ui-accordion" style="width: 90%; margin-right: auto; margin-left:auto;">
  <% @faqs.each do |faq| %>
    <h3 class="ui-accordion-header"><a href="#"><%= faq.question %></a></h3>
    <div class="ui-accordion-content"><%= markdown faq.answer %></div>
  <% end %>
</div>
