<% provide :title, "FAQ - #{@faq.question}" %>

<div style="border-style: solid; border-color: black; border-width: 2px; width: 90%; margin-left: auto; margin-right: auto; min-height: 4ex;">
  <%= markdown @faq.answer %>
</div>

<br/>
This FAQ is <%= 'not' unless @faq.active %> active | 
<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
