<p>If you believe this to be incorrect or unexpected then please forward this email to the OSMExtender administration team.</p>

Information for administrators:
<ul>
  <li>User ID:  <%= @user.id %></li>
  <li>Time:     <%= Time.now %></li>
</ul>
