<p><%= @user.name %> you have successfully signed up to OSMExtender, however your account still needs to be activated.</p>

<p>To activate your account go to
<br/><%= link_to nil, activate_account_url(@user.activation_token) %>
<br/>This must be done within 1 week.
</p>

<p>Thanks for joining and have a great day!</p>

<p>If you did not request an account then you need do nothing and we apologise for the hassle.</p>
