<%- unless @announcement.title.empty? %>
<h1 style="text-align: center"><%= @announcement.title %></h1>
<%- end %>
<p><%= @user.name %> an important announcement was just posted to the site, so important that we're emailing it to you too.</p>
<p><%= @announcement.message %></p>
<p>Thanks for taking the time to read the announcement.</p>
