<p><%= @user.name %> you have requested to reset your password for OSMExtender.</p>

<p>To choose a new password go to
<br/><%= link_to nil, routes.reset_password_url(@user.reset_password_token) %><br/>
This must be done by <%= do_by_time(@user.reset_password_token_expires_at) %>.</p>

<p>Have a great day!</p>

<%= render 'unexpected_security' %>
