<% provide :title, 'Email reminders' %>

<table>
  <tr>
    <th>Send on</th>
    <th>Actions</th>
  </tr>

<% @email_reminders.each do |email_reminder| %>
  <tr>
    <td><%= day_name(email_reminder.send_on) %></td>
    <td>
      <%= link_to '[Show]', email_reminder %>
      <%= link_to '[Edit]', edit_email_reminder_path(email_reminder) %>
      <%= link_to '[Destroy]', email_reminder, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
