<%= page_title 'New email reminder' %>

<h2>Reminder details</h2>
<%= render 'form' %>

<p>After creating your reminder you'll need to add some items to it. The system works in this way so that you are in control of just what information is emailed to you.</p>
