<% provide :title, 'Show email reminder' %>

<h2>Reminder details</h2>
<p>
  <b>Section ID:</b>
  <%= @email_reminder.section_id %>
</p>

<p>
  <b>Send on:</b>
  <%= day_name(@email_reminder.send_on) %>
</p>

<h2>Items</h2>
<%- unless @email_reminder.items.empty? %>
  <p>This reminder contains the following items.</p>
  <table>
    <tr><th>Item</th><th>Configuration</th></tr>
    <%- @email_reminder.items.each do |item| %>
      <tr>
        <td><%= item.human_name %></td>
        <td><%= item.human_configuration %></td>
      </tr>
    <%- end %>
  </table>
<%- else %>
  <p>This email reminder has no items yet.</p>
<%- end %>
