<%= page_title 'Automation Task Statistics' %>
<% provide :use_charts, true %>

<p id="counts"></p>

<h2>Items Used</h2>
<div style="width: 1000px; height: 350px; display: table-cell;">
  <div id="item_chart">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>
