<% provide :title, 'Reminder Email Statistics' %>
<% provide :use_charts, true %>

<h2>Number</h2>
<div style="width: 750px; height: 350px; display: table-cell;">
  <div id="reminders_chart">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>


<h2>By Day</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Total</th>
  </tr>
  <%- @number_day.each_with_index do |count, day| %>
    <tr>
      <td><%= day_name(day) %></td>
      <td><%= count %></td>
    </tr>
  <%- end %>
</table>


<h2>Items Used</h2>
<table>
  <tr>
    <th>Item</th>
    <th>Total</th>
  </tr>
  <%- @items.each do |item| %>
    <tr>
      <td><%= item[:name] %></td>
      <td><%= item[:count] %></td>
    </tr>
  <%- end %>
</table>
