<% provide :title, 'Reminder Email Statistics' %>
<% provide :use_charts, true %>

<h2>Number</h2>
<div style="width: 1000px; height: 350px; display: table-cell;">
  <div id="number_chart">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>


<h2>By Day</h2>
<div style="width: 1000px; height: 350px; display: table-cell;">
  <div id="day_chart">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>


<h2>Items Used</h2>
<div style="width: 1000px; height: 350px; display: table-cell;">
  <div id="item_chart">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>
