<% provide :title, 'Statistics' %>

<ul>
  <li><%= link_to('User statistics', user_statistics_path) %></li>
  <li><%= link_to('Reminder email statistics', email_reminders_statistics_path) %></li>
  <li><%= link_to('Usage statistics', usage_statistics_path) %></li>
  <li><%= link_to('Section statistics', sections_statistics_path) %></li>
</ul>
