<% provide :title, 'Section Statistics' %>
<% provide :use_charts, true %>

<p id="section_total"></p>

<div>

  <div style="width: 400px; height: 500px; margin: 25px; display: inline-block; align: top;">
    <div id="section_types_chart">
      <div style="width: inherit; height: inherit;">
        Your graph will appear here soon.
      </div>
    </div>
  </div>
  
  <div style="width: 400px; height: 500px; margin: 25px; display: inline-block; align: top;">
    <div id="section_subscriptions_chart">
      <div style="width: inherit; height: inherit;">
        Your graph will appear here soon.
      </div>
    </div>
  </div>

</div>
