<% provide :title, 'Usage Statistics' %>
<% provide :use_charts, true %>

<div style="width: 1000px; height: 350px;">
  <div id="usage_unique_all">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>

<div style="width: 1000px; height: 350px;">
  <div id="usage_unique_usersection">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>

<div style="width: 1000px; height: 350px;">
  <div id="usage_nonunique">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>
