<% provide :title, 'User Statistics' %>
<% provide :use_charts, true %>

<div style="width: 1000px; height: 350px; display: table-cell;">
  <div id="users_chart">
    <div style="width: inherit; height: inherit;">
      Your graph will appear here soon.
    </div>
  </div>
</div>
