<% provide :title, "#{current_user.name}'s Page" %>

<%- unless current_user.connected_to_osm? %>
  <p>You have not yet connected your account to your OSM account - <%= link_to 'Connect now', connect_to_osm_path %></p>
<%- end %>

<%- if current_user.osm_roles.size > 1 %>
  <h2>Change Current Section</h2>
  <ul>
  <%- current_user.osm_roles.each do |role| %>
    <li><%= link_to "#{role.section_name} (#{role.group_name})", "#{change_section_path}?section_id=#{role.section_id}" %></li>
  <%- end %>
  </ul>
<%- end %>

<h2>Site Tasks</h2>
<ul>
  <%- if can? :administer, User %>
    <%= link_to 'Administer users', users_path %>
  <%- end %>
</ul>
