<% provide :title, "#{current_user.name}'s Page" %>

<h2>Your Members</h2>

<h2>Your Sections</h2>

<h2>Site Tasks</h2>
<ul>
  <%- if can? :manage, User %>
    <%= link_to 'Administer users', users_path %>
  <%- end %>
</ul>