ActionDispatch::Callbacks.to_prepare do
  Osm::configure(
    :api => {
      :default_site => :osm,
      :osm => {
        :id    => GET THIS FROM ED,
        :token => GET THIS FROM ED,
        :name  => GIVE THIS TO ED,
      },
      :debug   => Rails.env.development? || defined?(IRB)
    },
    :cache => {
      :cache  => Rails.cache,
      :ttl    => Rails.env.development? ? 30 : 600
    },
  )
end
