<% provide :title, 'Welcome' %>

<p>The <a href="https://www.onlinescoutmanager.co.uk" target="_blank">Online Scout Manager</a> system is a a site designed to make the paper work side of Scouting significantly easier. However it lacks some features that my Section and I really wanted so I used its API to add them, you too are free to create an account, connect it with your OSM account and start using these extra features.</p>
<p>All the data used by OSMExtender is housed on OSM and retrieved as needed (although we do some caching). If you wish to view the site's source code (or better yet contribute to the site's functionality or look) then please head over to <a href="https://github.com/robertgauld/OSMExtender" target="_blank">the OSMExtender repository on github</a>.</p>
