<% provide :title, 'Welcome' %>

<h1><%= yield(:title) %></h1>
<p>This is a system developed to help with the managemnt of any section in Scouting within the UK. It should be easily adaptable to any other country and the source code can be freely downloaded from <%= link_to 'github', 'https://github.com/robertgauld/AberdeenSAS_SMS' %></p>