<% provide :title, 'Welcome' %>

<p>This is a system developed to help with the managemnt of any section in Scouting within the UK. It should be easily adaptable to any other country and the source code can be freely downloaded from <%= link_to 'github', 'https://github.com/robertgauld/AberdeenSAS_SMS' %></p>
<p>Use of this system is not limited to Aberdeen Scouting (despite being created and hosted by their SASU) but is open to any Scouter. Although the system does a lot (and requires a lot of data to do all of it) you don't need to enter a lot of data, for example if you don't want it to take care of tracking how balanced your programme is there's no need to enter your activities.</p>