# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU
#
# Setting a value of ~ will remove the setting

DATABASE_URL:           THE DATABASE TO CONNECT TO, LOOKS LIKE - postgres://USER-NAME:PASSWORD@HOST:PORT/DATABASE-NAME
REDIS_URL:              THE CACHE TO CONNECT TO, LOOKS LIKE - redis://USER:PASSWORD@HOST:PORT[/DATABASE]
WEB_CONCURRENCY:        NUMBER OF OS PROCESSES TO START (default 2)
RAILS_MAX_THREADS:	NUMBER OF THREADS PER WORKER (default 5)
secret_key_base:        USE 'bundle exec rake secret' TO GENERATE THIS
osm_api_name:           YOU'LL HAVE GIVEN THIS TO ED AT OSM
osm_api_id:             YOU'LL GET THIS FROM ED AT OSM
osm_api_token:          YOU'LL GET THIS FROM ED AT OSM
recaptcha_public_key:   PUBLIC KEY FOR RECAPTCHA
recaptcha_private_key:  PRIVATE KEY FOR RECAPTCHA
ga_tracking_id:         GOOGLE ANALYTICS TRACKING ID (or ~ if you don't want to use Google Anayltics)
signup_code:            IF PRESENT THIS CODE MUST BE ENTERED TO CREATE AN ACCOUNT
rollbar_access_token:   USED FOR REPORTING ERRORS TO ROLLBAR
mailgun_domain:         DOMAIN USED BY MAILGUN FOR SENDING EMAIL
mailgun_api_key:        USED FOR SENDING EMAIL THROUGH MAILGUN
mailgun_api_host:       DEFAULT: api.eu.mailgun.net
status_keys:            USED FOR ACCESSING THE STATUS PAGES WITHOUT SIGINING IN - SEPERATE WITH :
database_pool:          THE SIZE OF THE DATABASE CONNECTION POOL (default workers * threads)
database_timeout:       THE TIMEOUT FOR CONNECTING TO THE DATABASE IN MILLISECONDS (default 5000)
contact_us_to_address:  EMAIL ADDRESS TO SEND CONTACT US FORM SUBMISSIONS TO

# Values for the test environment - remember to keep .travis.yml in sync
test:
# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
  DATABASE_URL:           THE DATABASE TO CONNECT TO, LOOKS LIKE - postgres://USER-NAME:PASSWORD@HOST:PORT/DATABASE-NAME
  database_pool:          THE SIZE OF THE DATABASE CONNECTION POOL (default 5)
  database_timeout:       THE TIMEOUT FOR CONNECTING TO THE DATABASE IN ILLISECONDS (default 5000)
# DO NOT CHANGE ANY OF THESE
  secret_key_base:        USE 'bundle exec rake secret' TO GENERATE THIS
  osm_api_name:           Test API
  osm_api_id:             "12"
  osm_api_token:          "1234567890"
  recaptcha_public_key:   "11223344556677889900"
  recaptcha_private_key:  "00998877665544332211"
  ga_tracking_id:         ~
  signup_code:            ~
  status_keys:            test-a:test-b
  mailgun_domain:         osmx.example.com
  contact_us_to_address:  contactus@example.com
