ActionDispatch::Callbacks.to_prepare do
  # OSM options
  Osm::configure(
    :api => {
      :default_site => :osm,
      :osm => {
        :id    => GET THIS FROM ED,
        :token => GET THIS FROM ED,
        :name  => GIVE THIS TO ED,
      },
      :debug   => true
    },
    :cache => {
      :cache  => Rails.cache,
      :ttl    => 30
    },
  )

  # ReCAPTCHA options
  Recaptcha.configure do |config|
    config.public_key  = YOUR PUBLIC KEY HERE
    config.private_key = YOUR PRIVATE KEY HERE
  end
end

