OSMExtender::Application.configure do
  # Specifies the header that your server uses for sending files
  # config.action_dispatch.x_sendfile_header = "X-Sendfile" # for apache
  # config.action_dispatch.x_sendfile_header = 'X-Accel-Redirect' # for nginx

  # Force all access to the app over SSL, use Strict-Transport-Security, and use secure cookies.
  config.force_ssl = true

  # Setup cache
  #config.cache_store = :redis_store, {
  #  host: '',
  #  port: ,
  #  db: ,
  #  password: '',
  #  expires_in: 10.minutes,
  #  namespace: 'osmx.production'
  #}
end

ActionDispatch::Callbacks.to_prepare do
  # URL Options
  Rails.application.routes.default_url_options = {
    :protocol => 'https',
    :host => 'localhost',
#   :script_name => '/something'
  }

  # Mailer options
  EmailReminderMailer.send :default, {
    :from => ,                # Can be in the format - "Name" <email_address>
    'return-path' => ,        # Should be the email address portion of from
  }
  AutomationTaskMailer.send :default, {
    :from => '',              # Can be in the format - "Name" <email_address>
    'return-path' => '',      # Should be the email address portion of from
  }
  UserMailer.send :default, {
    :from => ,                # Can be in the format - "Name" <email_address>
    'return-path' => ,        # Should be the email address portion of from
  }
  NotifierMailer.send :default, {
    :from => ,                # Can be in the format - "Name" <email_address>
    'return-path' => ,        # Should be the email address portion of from
  }
  NotifierMailer.send :default, {
    :from => ,                # Can be in the format - "Name" <email_address>
    'return-path' => ,        # Should be the email address portion of from
  }
  NotifierMailer.options = {
    :contact_form__to => ,    # Can be in the format - "Name" <email_address>
    :reminder_failed__to => , # Can be in the format - "Name" <email_address>
    :exception__to => ,       # Can be in the format - "Name" <email_address>
  }

end
