OSMExtender::Application.configure do
  # Specifies the header that your server uses for sending files
  # config.action_dispatch.x_sendfile_header = "X-Sendfile" # for apache
  # config.action_dispatch.x_sendfile_header = 'X-Accel-Redirect' # for nginx

  # Force all access to the app over SSL, use Strict-Transport-Security, and use secure cookies.
  config.force_ssl = true

  # Which sort of cache to use
  # For in memory
  #config.cache_store = :memory_store, {
  #  :size => 32 * (1024 * 1024), #MiB
  #  :compress => true,
  #  :compress_threshold => 1 * (1024 * 1024), #MiB
  #  :expires_in => 30.minutes,
  #  :race_condition_ttl => 2.minutes
  #}
  # For memcache
  #config.cache_store = :dalli_store, 'server.name', {
  #  :expires_in => 10.minutes,
  #  :race_condition_ttl => 2.minutes,
  #  :namespace => 'osmx.staging',
  #  :pool_size => 5
  #}

end

ActionDispatch::Callbacks.to_prepare do
  # URL Options
  Rails.application.routes.default_url_options = {
    :protocol => 'https',
    :host => 'localhost',
#   :script_name => '/something'
  }

  # Mailer options
  ReminderMailer.send :default, {
    :from => ,                # Can be in the format - "Name" <email_address>
    'return-path' => ,        # Should be the email address portion of from
  }
  UserMailer.send :default, {
    :from => ,                # Can be in the format - "Name" <email_address>
    'return-path' => ,        # Should be the email address portion of from
  }
  NotifierMailer.send :default, {
    :from => ,                # Can be in the format - "Name" <email_address>
    'return-path' => ,        # Should be the email address portion of from
  }
  NotifierMailer.options = {
    :contact_form__to => ,    # Can be in the format - "Name" <email_address>
    :reminder_failed__to => , # Can be in the format - "Name" <email_address>
    :exception__to => ,       # Can be in the format - "Name" <email_address>
  }

  # Mail sending options (uncomment the one which is relevant to your setup)
  # Sendmail
#  ActionMailer::Base.delivery_method = :sendmail
#  ActionMailer::Base.sendmail_settings = {
#    :location => '',
#  }
  # SMTP
#  ActionMailer::Base.delivery_method = :smtp
#  ActionMailer::Base.smtp_settings = {
#    :address              => '',
#    :port                 => '',
#    :domain               => '',
#    :user_name            => '',
#    :password             => '',
#    :authentication       => 'plain',
#    :enable_starttls_auto => true
#  }

end
