<table>
  <tr>
    <th>OSM&nbsp;Permission</th>
    <th>OSM&nbsp;Extender&nbsp;Features<br/>Using Permission</th>
    <th>Require</th>
    <th>Granted<br/>(to OSMX)</th>
    <th>Granted<br/>(to your OSM user)</th>
  </tr>

  <%- if section.youth_section? %>
    <%= render 'osm_permissions_youth', :section => section %>
  <%- end %>
  
  <%- if section.adults? %>
    <%= render 'osm_permissions_adults', :section => section %>
  <%- end %>
  
  <%- if section.waiting? %>
    <%= render 'osm_permissions_waiting', :section => section %>
  <%- end %>

</table>
