= page_title 'Cookie Policy'

%h2 What are cookies?
%p
  Cookies are small text files located in the browser directory of your computer or mobile device. When you visit a website, it can send information back to the browser which then creates the cookie. Every time you revisit the same website it can access the information stored in the cookie. Cookies are not just created by the website you visit, but may also be created by other websites that run adverts, video or other content you view.

%p
  The website
  = link_to 'allaboutcookies.org', 'https://www.allaboutcookies.org/', target: '_blank'
  has a  more detaild description of cookies.


%h2 Types of cookies

%h3 Essential cookies
%p
  Some cookies are essential to allow this website to work.
%ul
  %li session - this cookie keeps track of who you have signed in as

%h3 Functional cookies
%p
  Functional cookies allow a website to provide additional services by remembering your preferences and settings.
%ul
  %li allow_cookies - this is set when you choose to hide the cookie notice so you don't keep seeing it

%h3 Performance cookies
%p
  Performance cookies allow us to keep track of our website analytics. It is highly beneficial for us to know how many visitors we get, where they are visiting from, what the most popular pages are, which blog posts get the most views and what time of day has the least number of visitors (so we know the best time to do maintenance).
%ul
  %li
    Google analytics is used by this site, it sets cookies called __utma, __utmb, __utmc, __utmt, __utmv, __utmz, __utmx and __utmxx. Google analytics code is only run (and therefore the cookies are only set) if you have accepted the use of cookies.

%h3 Advertising cookies
%p
  Third party advertisers will often place cookies to help make advertisements and offers more interesting to you. We have no direct third party advertising on its website.
