<%= page_title "Help" %>


<div style="text-align: center;">
    <a href="#online_scout_manager_extender">[Online Scout Manager Extender]</a>
    <a href="#features">[Features]</a>
    <a href="#email_reminders">[Email Reminders]</a>
    <a href="#automation_tasks">[Automation Tasks]</a>
</div>


<a name="online_scout_manager_extender"><h2>Online Scout Manager Extender</h2>
  <div id="accordion-online_scout_manager_extender" class="ui-accordion accordion_faqs" style="width: 90%; margin-right: auto; margin-left:auto;">

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s Online Scout Manager Extender?</a></h3>
    <div class="ui-accordion-content">
      <p>Online Scout Manager Extender is a site which provides extra features to the <a href="https://www.onlinescoutmanager.co.uk">Online Scout Manager</a>.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">Is it safe to give this site my Online Scout Manager password?</a></h3>
    <div class="ui-accordion-content">
      <p>Yes. Your email address and password are not stored on this site. They are used to confirm your identity to OSM in order to gain a user id and secret which are then used to access OSM on your behalf.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">I would like Online Scout Manager Extender to ...</a></h3>
    <div class="ui-accordion-content">
      <p>First consider suggesting the feature in the Online Scout Manager forum. If It&#39;s not taken or you feel it doesn&#39;t belong in OSM then use the Contact option to get in touch.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">Does Online Scout Manager Extender use cookies (and what are they anyway)?</a></h3>
    <div class="ui-accordion-content">
      <p>Cookies are small text files stored on you computer, they are small parcels of data which a web server gives to a web browser, the browser then sends them back to the server which each request. Since the browser makes a new connection to the server each time you load a page cookies allow the server to keep track of who is viewing a page.</p>
      <p>This is how OSMX uses cookies - when you signin a random number is generated and sent to your browser as a cookie as well as being stored on the server, this number allows the server to check sho you are currently signed in as. These cookies are set to expire (i.e. be deleted) when your browser is closed.</p>
      <p>OSMX also uses services from other providers which set cookies, these are:</p>
      <ul>
        <li><a href="http://www.google.com/recaptcha/policy">Google ReCAPTCHA</a></li>
      </ul>
      <p>You can find out more about cookies by visiting <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">How does Online Scout Manager Extender store passwords?</a></h3>
    <div class="ui-accordion-content">
      <p>When you create your account or change you password the password you provide is combined with a newly generated salt (collection of random characters) and hashed (encrypted in such a way as it can&#39;t be decrypted) and stored with the salt in the database. When you signin the password you provided is combined with the salt retreived from the database and hashed, the result is compared with the contents of the database. This ensures that not even people with access to the database can see what your password is, there is no way to recover it which is why when you&#39;ve forgotten your password you are required to create a new one.</p
      <p>You can find out more about why this is done by visiting <a href="http://crackstation.net/hashing-security.htm">crackstation.net/hashing-security.htm</a>.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">How do I pick a good password?</a></h3>
    <div class="ui-accordion-content">
      <p>A good password is one which a cracker needs to spend a lot of time on - every password can be cracked given enough time. The first thing is not to use a word in the dictionary (even if some letters are replaced by numbers) as crackers will try these first, when this fails crackers have no choice but to actually guess every combination of letters and numbers. Once the crackers have to resort to guessing every combination the secret is to make the pool of possible password as large as possible, this can be done by having a long password or password with a lot of different types of characters (upper case, lower case, numbers and punctuation).</p>
      <p>You can find out more about picking a good password by visiting <a href="https://www.grc.com/haystack.htm">https://www.grc.com/haystack.htm</a>.</p>
    </div>

  </div>


  <a name="features"><h2>Features</h2>
  <div id="accordion-features" class="ui-accordion accordion_faqs" style="width: 90%; margin-right: auto; margin-left:auto;">

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s the OSM permissions page?</a></h3>
    <div class="ui-accordion-content">
      <p>This page displays a list of the permissions that various parts of this site need in order to do their job and tells you if you&#39;ve correctly set them in OSM.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s the Email lists feature?</a></h3>
    <div class="ui-accordion-content">
      <p>The Email lists feature allows you to create a list of email addresses (which you can then copy-paste into your email). You can select which addresses from which contacts in OSM to include and some basic selection criteria.</p>
      <p>Simply tick off the email fields you&#39;d like to get the email addresses from and use the drop down boxes to choose which email addresses to get. For example &quot;for members who are not in the leaders&quot; would give you all youth members.</p>
      <p>After retreiving the list of email addresses you&#39;ll be able to save the list for future reuse. Saving the list saves the criteria used for generating it, not the actual email addresses.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s the Programme review feature?</a></h3>
    <div class="ui-accordion-content">
      <p>The Programme review feature allows you to easily discover how balanced your programme is. It does this by using the tags for each activity to count how many times your programme meets each zone and method.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s the Email reminder feature?</a></h3>
    <div class="ui-accordion-content">
      <p>The email reminder feature is designed to send you a weekly email of things you should be aware of, it is customisable - you get to choose what items appear and how far back/forwrd they look. In order to get started follow the links into the Email reminders area and to create a new reminder. Once you have created your reminder you&#39;ll need to add some items to it (otherwise you&#39;ll get a blank email each week). The availible items are:</p>
      <ul>
        <li>Birthdays - Members of your section who have either just had or are about to have a birthday, you can customise from how far in the past to how far in the future birthdays are shown for.</li>
        <li>Badges due - Displays a list of what badges each member is due.</li>
        <li>Programme - Lists the programme (and activities) for the next few weeks, you can customise how many weeks ahead it looks.</li>
        <li>Events - Lists the events coming up in the next few months, you can customise how many months ahead it looks.</li>
        <li>Members not seen - Displays the members who have not been marked present for the last few weeks, you can customise how many weeks behind it looks.</li>
        <li>Section notepad - Displays the contents of OSM&#39;s notepad for the section.</li>
      </ul>
    </div>

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s the Map members feature?</a></h3>
    <div class="ui-accordion-content">
      <p>The map members feature allows you to see a map depicting how your members are distributed. You can specify which address is used as well as what colour pin to use for each of your groupings, if you have a grouping named with one of the available colours then that colour should be picked for you. You can optionally enter the address of your meeting place for inclusion on the map (it is shown by a light green pin with a star inside). If more than one member lives at the same address then the number of members at that address appears in the pin. If the pin is light blue then the members at a shared address are not in the same grouping.</p>
      <p>The location of the addresses are gathered from Google&#39;s geocoding service, the minimum detail the address needs should be streey address and either town or postcode (e.g. &#39;12 Some Street, Some town&#39; or &#39;123 Some Lane, AB34 5FG&#39;).</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s the Flexi records feature?</a></h3>
    <div class="ui-accordion-content">
      <p>This allows you to view a selection of your flexi records' data in a way which allows you to change text and column sizes to allow for easier reading / filling in of the printed text.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">What are Automation tasks?</a></h3>
    <div class="ui-accordion-content">
      <p>The automation tasks are run each night and allow things like ensuring the sixer badge is due for members who have been marked as sixers or filling in the earn 6 badges of the Chief Scout&#39;s award. The available items are:</p>
      <ul>
        <li>Birthday badges - Mark selected badges as due on a member&#x27;s birthday.</li>
        <li>Synchronise the following leadership values for SPL/PL/APL etc.:
          <ul>
            <li>Status in personal details.</li>
            <li>SPL/PL/APL badge.</li>
            <li>Section leadership part of challenge badges.</li>
          </ul>
        </li>
        <li>Populate the first aid part of the outdoors challenge based on emergency aid staged badge completion.</li>
        <li>Populate the complete 6 badges part of the Chief Scout&#x27;s Award based on number of earnt badges.</li>
      </ul>
      <p>To simplify multiple leaders running the same section anyone with the appropriate pemrissions to a section will be able to change the configuration of the tasks (since they'd be able to do the actions manually if they wanted to anyway). OSM Extender will perform the actions as the OSM user who last changed the configuration for the section.</p>
    </div>

  </div>


  <a name="email_reminders"><h2>Email Reminders</h2>
  <div id="accordion-email_reminders" class="ui-accordion accordion_faqs" style="width: 90%; margin-right: auto; margin-left:auto;">

    <h3 class="ui-accordion-header"><a href="#">What&#x27;s the Email reminder feature?</a></h3>
    <div class="ui-accordion-content">
      <p>The email reminder feature is designed to send you a weekly email of things you should be aware of, it is customisable - you get to choose what items appear and how far back/forwrd they look. In order to get started follow the links into the Email reminders area and to create a new reminder. Once you have created your reminder you&#39;ll need to add some items to it (otherwise you&#39;ll get a blank email each week). The availible items are:</p>
      <ul>
        <li>Birthdays - Members of your section who have either just had or are about to have a birthday, you can customise from how far in the past to how far in the future birthdays are shown for.</li>
        <li>Badges due - Displays a list of what badges each member is due.</li>
        <li>Programme - Lists the programme (and activities) for the next few weeks, you can customise how many weeks ahead it looks.</li>
        <li>Events - Lists the events coming up in the next few months, you can customise how many months ahead it looks.</li>
        <li>Members not seen - Displays the members who have not been marked present for the last few weeks, you can customise how many weeks behind it looks.</li>
        <li>Section notepad - Displays the contents of OSM&#39;s notepad for the section.</li>
      </ul>
    </div>

    <h3 class="ui-accordion-header"><a href="#">How can I share my email reminder with other leaders?</a></h3>
    <div class="ui-accordion-content">
      <p>Visit the  Email reminders page and you&#39;ll have a [Sharing] option in the actions column of the table. Clicking this allows you to view the people you have shared the reminder with, you can use the last row of the table to add new people. When a new person is added they will receive an email containing a link which they need to follow in order to subscribe to the reminder.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">How can I change my subscription to an email reminder?</a></h3>
    <div class="ui-accordion-content">
      <p>Every time you receive a reminder email or change your subscription state the email will contain a link to follow in order to do this. Additionally if you are an OSMX user you&#39;ll be able to edit your subscription to any reminder which has been shared with you by going to the Email reminders page.</p>
    </div>
  </div>


  <a name="automation_tasks"><h2>Automation Tasks</h2>
  <div id="accordion-email_reminders" class="ui-accordion accordion_faqs" style="width: 90%; margin-right: auto; margin-left:auto;">

    <h3 class="ui-accordion-header"><a href="#">What are Automation tasks?</a></h3>
    <div class="ui-accordion-content">
      <p>The automation tasks are run each night and allow things like ensuring the sixer badge is due for members who have been marked as sixers or filling in the earn 6 badges of the Chief Scout&#39;s award. The available items are:</p>
      <ul>
        <li>Birthday badges - Mark selected badges as due on a member&#x27;s birthday.</li>
        <li>Populate the complete n activity badges part of the Chief Scout&#x27;s Award based on number of badges earnt since joining the section.</li>
      </ul>
      <p>To simplify multiple leaders running the same section anyone with the appropriate pemrissions to a section will be able to change the configuration of the tasks (since they'd be able to do the actions manually if they wanted to anyway). OSM Extender will perform the actions as the OSM user who last changed the configuration for the section.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">How do we change which leader the tasks are run as?</a></h3>
    <div class="ui-accordion-content">
      <p>If the leader who last changed the tasks has their access to the section removed then the tasks will fail, any other leader can simply update the configuration (they need not make any changes, simply saving changes will do) and the tasks will now be run as them.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">Can I see what changes were made?</a></h3>
    <div class="ui-accordion-content">
      <p>When you run the task through the website you&#x27;ll see a list of what the task did whilst it performed the task.</p>
    </div>

    <h3 class="ui-accordion-header"><a href="#">How do I change the settings for a task?</a></h3>
    <div class="ui-accordion-content">
      <p>Go to the automation tasks page for the section you want to adjust and you'll see a list of all the tasks and their current settings. Click the edit link on the row of the item you wish to change, update the settings and click the save button. You may see a message instead of the edit link if you do not have the correct permissions to update the settings.</p>
    </div>

  </div>