<% provide :title, "#{current_user.name}'s Page" %>

<%- unless current_user.connected_to_osm? %>
  <p>You have not yet connected your account to your OSM account - <%= link_to 'Connect now', connect_to_osm_path %></p>
<%- end %>


<%- if @roles.size > 1 %>
  <h2>Change Current Section</h2>
  <ul>
  <%- @roles.sort.each do |role| %>
    <li><%= link_to role.long_name, "#{change_section_path}?section_id=#{role.section.id}" %></li>
  <%- end %>
  </ul>
<%- end %>


<%- unless @tasks.empty? %>
<h2>Site Tasks</h2>
<ul>
  <%- @tasks.each do |task| %>
    <li><%= link_to task[:name], task[:path] %></li>
  <%- end %>
</ul>
<%- end %>
  