<% provide :title, "#{current_user.name}'s Account - Connect to OSM" %>

<p>Thank you for connecting to your OSM account, there are just a few more things you need to do to finish the job.</p>
<ol>
  <li>Go to <a href="https://www.onlinescoutmanager.co.uk" target="_blank">https://www.onlinescoutmanager.co.uk</a> and login.</li>
  <li>Using the "Account" drop down menu choose "External Access"</li>
  <li>Setup "Robert Gauld's API" to have access to your data, the list below shows what permissions are used for what
    <ul>
      <li>Programme:
        <ul>
          <li>My Programme (Read)</li>
        </ul>
      </li>
    </ul>
  </li>
</ol>