<p><%= @email_list.user.name %>, at least one of the addresses in your
<%= @email_list.name %> email list for <%= @section ? "#{@section.name} (#{@section.group_name})" : 'Unknown section' %> changed.</p>
