<p>Whilst trying to prepare your email reminder for <%= @reminder.section_name %> an error occured- you can't access data in the section.</p>
<p>This probabbly happened because you no longer have access to the section (perhaps you moved on or someone else accidently removed you). Please either get your access to the section reinstated or delete the email list from OSM Extender (by going to <%= link_to nil, routes.email_reminders_url %>).</p>
