<p>This is your reminder email for <%= @role.long_name %>.</p>

<%- @data.each do |item| %>
<%- unless item[:data].nil? || item[:data].empty? %>
<h1><%= item[:item].human_name.titleize %></h1>
<%= render "reminder_mailer/#{item[:item].type.underscore}", :data => item[:data], :configuration => item[:configuration] %>
<hr/>
<%- end %>
<%- end %>

<p>Please note that if you have configured your reminder to include an item which has not been included it just means there is no information for that item to display.</p>
