<%= page_title 'Flexi records' %>

<%- unless @records.empty? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  
  <%- @records.each do |record| %>
    <tr>
      <td><%= record.name %></td>
      <td>
        <%= link_to '[Show]', osm_flexi_record_path(record.id) %>
      </td>
    </tr>
  <% end %>
  </table>
<%- else %>
  <p>You do not currently have any flexi records setup for the section, you'll need to create them in OSM.</p>
<%- end %>
