/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

*{margin:0px;}
a{color:blue;}
a:hover{color:green;}

p {
    margin-top:         1ex;
    margin-bottom:      1ex;
    text-indent:        1em;
}

h1 {
    text-align:         center;
    text-decoration:    underline;
    margin-top:         1ex;
    margin-bottom:      2ex;
}

h2, h3, h4 {
    margin-top:         3ex;
    margin-bottom:      2ex;
}

#page {
    margin-top:         10px;
    margin-left:        15px;
    margin-right:       15px;
}


#primary_menu {
    background-color:   #aaaaaa;
    padding:            10px;
    min-height:         60px;
}
#primary_menu_nav {
    float:              left;
}
#primary_menu_user {
    float:              right;
}
#primary_menu .menu_item {
    display:            inline-block;
}
#primary_menu .menu_item a {
    display:            table-cell;
    font-size:          large;
    text-align:         center;
    vertical-align:     middle;
    min-width:          120px;
    max-width:          160px;
    height:             60px;
    padding-left:       10px;
    padding-right:      10px;
    border:             thick;
    border-radius:      10px;
    color:              black;
    text-decoration:    none;
    background:         #aaffaa;
}
#primary_menu .menu_item a:hover {
    color:              #aaffaa;
    text-decoration:    underline;
    background:         black;
}


#banner {
    background-color:   #cccccc;
    text-align:         center;
    min-height:         150px;
}
#banner img {
    margin-top:         10px;
    margin-bottom:      10px;
}


#secondary_menu {
    background-color:   #aaaaaa;
    padding:            10px;
    min-height:         60px;
}
#secondary_menu .menu_item {
    display:            inline-block;
}
#secondary_menu .menu_item a {
    display:            table-cell;
    font-size:          large;
    text-align:         center;
    vertical-align:     middle;
    min-width:          120px;
    max-width:          160px;
    height:             40px;
    padding-left:       10px;
    padding-right:      10px;
    border:             thick;
    border-radius:      10px;
    color:              black;
    text-decoration:    none;
    background:         #aaaaff;
}
#secondary_menu .menu_item a:hover {
    color:              #aaaaff;
    text-decoration:    underline;
    background:         black;
}
#current_section {
    font-weight:        bold;
}

#tertiary_menu {
    text-align:         center;
}
#tertiary_menu .menu_item {
    display:            inline-block;
    margin-left:        10px;
    margin-right:       10px;
    margin-top:         5px;
}
#tertiary_menu .menu_item a {
    color:              blue;
    text-decoration:    none;
}
#tertiary_menu .menu_item a:hover {
    text-decoration:    underline;
}

#notices {
    padding:            5px;
    margin-left:        10%;
    margin-right:       10%;
}
#notices div {
    margin:             5px;
    border-style:       solid;
    border-radius:      4px;
    padding:            2px;
    margin-top:         5px;
    margin-bottom:      10px;
    margin-left:        auto;
    margin-right:       auto;
}
#notices_error {
    background-color:   #ff4444;
    border-color:       red;
    font-weight:        bold;
}
#notices_warning {
    background-color:   #fff288;
    border-color:       yellow;
}
#notices_notice {
    background-color:   #90f090;
    border-color:       green;
}
#notices_instruction {
    background-color:   #c0c0f0;
    border-color:       blue;
}


#error_messages {
    display:            inline-block;
    background-color:   #ff4444;
    border-color:       red;
    border-style:       solid;
    border-radius:      4px;
    padding:            2px;
    margin-top:         5px;
    margin-bottom:      10px;
    margin-left:        auto;
    margin-right:       auto;
}