/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

*{margin:0px;}
a{color:blue;}
a:hover{color:green;}

h1 {
    text-align:         center;
    text-decoration:    underline;
    margin-top:         1ex;
    margin-bottom:      1ex;
}

#page {
    margin-top:         10px;
    margin-left:        15px;
    margin-right:       15px;
}


#primary_menu {
    background-color:   #aaaaaa;
    padding:            10px;
}
#primary_menu div {
    display:            inline-block;
}
#primary_menu div a {
    display:            table-cell;
    font-size:          large;
    text-align:         center;
    vertical-align:     middle;
    min-width:          120px;
    max-width:          160px;
    height:             60px;
    padding-left:       10px;
    padding-right:      10px;
    border:             thick;
    border-radius:      10px;
    color:              black;
    text-decoration:    none;
    background:         #aaffaa;
}
#primary_menu div a:hover {
    color:              #aaffaa;
    text-decoration:    underline;
    background:         black;
}


#banner {
clear: both;
    background-color:   #cccccc;
    text-align:         center;
    height:             150px;
}
#banner img {
    margin-top:         10px;
    margin-bottom:      10px;
}


#secondary_menu {
    background-color:   #aaaaaa;
    padding:            10px;
    min-height:         40px;
}
#secondary_menu div {
    display:            inline-block;
}
#secondary_menu div a {
    display:            table-cell;
    font-size:          large;
    text-align:         center;
    vertical-align:     middle;
    min-width:          120px;
    max-width:          160px;
    height:             40px;
    padding-left:       10px;
    padding-right:      10px;
    border:             thick;
    border-radius:      10px;
    color:              black;
    text-decoration:    none;
    background:         #aaaaff;
}
#secondary_menu div a:hover {
    color:              #aaaaff;
    text-decoration:    underline;
    background:         black;
}

#tertiary_menu {
    text-align:         center;
}
#tertiary_menu div {
    display:            inline-block;
    margin-left:        10px;
    margin-right:       10px;
    margin-top:         5px;
}
#tertiary_menu div a {
    color:              blue;
    text-decoration:    none;
}
#tertiary_menu div a:hover {
    text-decoration:    underline;
}

#notices {
    padding:            5px;
    margin-left:        10%;
    margin-right:       30%;
}
#notices div {
    margin:             5px;
}
#notices_error {
    background-color:   #ff4444;
    font-weight:        bold;
}
#notices_warning {
    background-color:   #fff288;
}
#notices_notice {
    background-color:   #90f090;
}
