#header {
    display:            none;
}

table thead {
    display:            table-header-group;
}
table tbody{
    display:            table-row-group;
}
table tfoot{
    display:            table-footer-group;
}

.page-break {
    display:            block;
    page-break-before:  always;
}
.page-break-before {
    display:            block;
    page-break-before:  always;
}
