#header {
    display:            none;
}

thead {
    display:            table-header-group;
}

.page-break {
    display:            block;
    page-break-before:  always;
}
.page-break-before {
    display:            block;
    page-break-before:  always;
}
