table#layout {
  border-width:       0px;
  margin:             0px;
  padding:            0px;
  border-collapse:    collapse;
  width:              100%;
}

td#banner_top, td#banner_bottom {
  background-color:   #aaaaaa;
  height:             30px;
}

td#banner {
  background-color:   #cccccc;
  text-align:         center;
  height:             95px;
  vertical-align:     middle;
}

td.notice {
  padding: 8px;
}
td#notices_error {
    background-color:   #ff4444;
    border-color:       red;
    font-weight:        bold;
}
td#notices_warning {
    background-color:   #fff288;
    border-color:       yellow;
}
td#notices_notice {
    background-color:   #90f090;
    border-color:       green;
}
td#notices_instruction {
    background-color:   #c0c0f0;
    border-color:       blue;
}
td#notices_information {
    background-color:   #d0d0d0;
    border-color:       black;
}


hr {
  margin-left:        auto;
  margin-right:       auto;
  width:              50%;
}
