td.met_yes {
    background-color:   #30f030;
}

td.met_no {
    background-color:   #f03030;
}

td.met_not_needed {
    background-color:   #f0f030;
}

td.met_awarded {
    background-color:   #b0b0b0;
}

td.met_completed {
    background-color:   #b0b0ff;
}

td.met_not_started {
    background-color:   #ffffff;
}
