td.event_attendance_yes {
    background-color:   #b0f0b0;
}

td.event_attendance_no {
    background-color:   #f0b0b0;
}

td.event_attendance_invited {
    background-color:   #f0c040;
}

td.event_attendance_shown {
    background-color:   #ffffff;
}

td.event_attendance_reserved {
    background-color:   #f0f0b0;
}

td.event_attendance_unknown {
    background-color:   #ffffff;
}
