<% provide :title, "Show email reminder item (#{@email_reminder_item.human_name.downcase})" %>

<p>
  <b>Type:</b>
  <%= @email_reminder_item.human_name %>
</p>

<p>
  <b>Configuration:</b>
  <%= @email_reminder_item.human_configuration %>
</p>
