<%= page_title 'Map members' %>

<h2>Get members for  multiple sections</h2>
<p><%= link_to "Get a map for members from multiple sections", map_members_multiple_path %>.</p>

<h2>Get members for one section</h2>
<ul>
<%- @sections.each do |section| %>
  <li>
    <%- if has_osm_permission?(:read, :member, current_user, section) %>
      <%= link_to get_section_names[section.id], map_members_path(section.id) %>
    <%- else %>
      <%= get_section_names[section.id] %> - You don't have permission to get members for this section.
    <%- end %>
  </li>
<%- end %>
</ul>
